nav{
     position: absolute;
    top: 6.5%;
}

.navbarbtn {
    color: white;
    padding: 4px;
    border: 1px solid black;
    border-radius: 0px 12px 12px 0px;
    background-color: #63C6EF;
}





/* .navbar_container{
 position: absolute;
    top: 6.5%;
}
nav {
    height: 50px;
    padding: 20px;
    width: 125%;
    z-index: 11000;
}
@media screen and (min-width: 768px) {
 nav {
   height: 50px;
    padding: 20px;
    width: 100px;
    z-index: 11000;
}
}
.navbarbtn {
    color: white;
    padding: 4px;
    border: 1px solid black;
    border-radius: 0px 12px 12px 0px;
    background-color: #63C6EF;
}

.flag{
    margin-right: 20px;
}

.navbarbtn button{
    color: white;
}
 */
